:root {
    color-scheme: light dark;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #content {
    background-image: url("./src/fondogameboy.png");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  
  /* @media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: black;
     }
  }  */
  canvas {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    margin-top: 22%;
    
  }

  #titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px); /*Compensate for body 1px border*/
    background: #254053;
    
  }
  .barra {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    gap: 4px;
  }